@media screen and (max-width:1199px) {
    .bottom-menu ul {
        column-gap: 16px;
    }

    .top-menu ul li a {
        font-size: 12px;
    }

    .top-menu .button {
        width: 95px;
    }

    .top-menu .button a {
        font-size: 11px;
    }

    .left-dropdown {
        position: absolute;
        top: 0;
        left: -130px !important;
    }

    .bottom-menu ul li a {
        font-size: 13px;
    }

    .box-provide {
        padding-top: 15px;
    }

    .we-provide-heading {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .we-provide-heading h2 {
        font-size: 40px;
    }

    .box-image {
        width: 120px;
        height: 120px;
    }

    .box-image img {
        max-height: 70px;
    }

    .text-box h3 {
        font-size: 18px;
    }

    .text-box p {
        min-height: 102px;
        font-size: 12px;
        line-height: 19px;
        padding: 12px 17px 12px 17px;
    }

    #We-Provide {
        padding-bottom: 40px;
    }

    .text-consultations h2 {
        font-size: 40px;
    }

    #who-are-you {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .heading h2 {
        font-size: 40px;
        padding-bottom: 25px;
    }

    .main-we-provide {
        column-gap: 20px;
    }

    .box-provide {
        width: calc(33.33% - 13.33px);
    }

    .heading p {
        font-size: 14px;
        padding-bottom: 40px;
    }

    .technology {
        width: 40%;
    }

    .who-are-you-image {
        width: 60%;
    }

    .who-are-you-image img {
        width: 100%;
    }

    .technology ul li {
        font-size: 14px;
        padding-bottom: 20px;
    }

    .btn-send-us {
        margin-top: 5px;
        width: 150px;
        height: 50px;
    }

    .btn-send-us a {
        font-size: 14px;
    }

    .four-boxes {
        height: 160px;
    }

    .four-boxes p {
        font-size: 19px;
    }

    .four-boxes h3 {
        font-size: 50px;
    }

    #why-choose {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .why-choose-heading h2 {
        font-size: 40px;
        padding-bottom: 40px;
    }

    .our-vision h4 {
        font-size: 30px;
        padding: 25px 0px 0px 10px;
    }

    .our-vision p {
        font-size: 14px;
        padding: 20px 20px 20px 20px;
        line-height: 26px;
    }

    .footer {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .links h3 {
        font-size: 21px;
        padding-bottom: 15px;
    }

    .contact h3 {
        font-size: 21px;
        padding-bottom: 15px;
    }

    .links ul li a {
        font-size: 14px;
    }

    .contact ul li span,
    .contact ul li a {
        font-size: 14px;
    }

    .input-email {
        padding-top: 10px;
    }

    .input-email span {
        top: 11px;
    }

    .main-footer-bottom {
        column-gap: 50px;
    }

    .main-footer-bottom .text {
        font-size: 12px;
        width: 50%;
        padding-left: 0;
    }

    .main-footer-bottom a {
        font-size: 12px;
    }

    .main-footer-bottom ul li a {
        font-size: 12px;
        padding-left: 5px;
    }

    .main-footer-bottom ul {
        width: 50%;
        align-items: flex-start;
    }
    
}


@media screen and (max-width:767px) {

    .main-we-provide {
        column-gap: 20px;
    }
    .text-box {
        flex-direction: column;
    }
    .technology ul li{
        padding-bottom: 15px;
    }

    .box-provide {
        width: calc(50% - 10px);
    }

    .text-box p {
        /* min-height: 61px; */
        min-height: auto;
        line-height: 22px;
    }

    /* .main-header .zmdi-menu{
        display: block;
    }
    .bottom-menu {
        position: absolute;
        top: 87px;
        left: 0;
        right: 0;
        background: red;
        z-index: 1;
        display: none;
    }

    .open-menu .bottom-menu {
        display: block;
    }
    .main-header.open-menu .zmdi-menu:before {
        content: '\f136';
    }

    .bottom-header {
        position: relative;
    }
    
    .bottom-menu .drop {
        flex-direction: column;
        padding: 10px 0;
    }
    
    .logo img {
        max-width: 85px;
    }
    
    .main-header {
        padding: 10px 0;
    }
    
    .bottom-menu ul li {
        padding: 0;
        width: 100%;
    }
    
    .bottom-menu ul li a {
        line-height: 40px;
        display: flex;
        padding: 0 15px;
        justify-content: space-between;
    } */

    /* toggale bar start */

    .bottom-header .zmdi-menu {
        display: block;
    }

    .bottom-menu .drop {
        display: block;
        position: absolute;
        top: 83px;
        left: -100%;
        background-color: #073e50;
        z-index: 999;
        width: 100%;
        transition: all ease 0.5s;

    }

    .open .bottom-menu .drop {
        left: 0;
    }

    .bottom-header {
        position: relative;
    }

    .bottom-menu ul li a {
        line-height: 25px;
        padding: 0 15px;
    }

    ul.drop-down,
    .bottom-menu .sub-dropdown {
        position: static;
        visibility: visible;
        opacity: 1;
        width: 100%;
        display: none;
    }

    .bottom-menu ul li {
        flex-direction: column;
        display: block;
        padding: 0;
        margin: 5px 0;
    }

    .bottom-menu ul li .zmdi-chevron-down {
        position: absolute;
        right: 15px;
        top: 0;
        width: 30px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottom-menu ul li.open-sub-menu .drop-down,
    .bottom-menu .drop-down li.open-sub-child-menu .sub-dropdown {
        display: block;
    }

    .drop>li:hover>i {
        transform: rotate(0deg);
    }

    .drop>li.open-sub-menu>i {

        transform: rotate(180deg);
    }

    .drop-down li:hover .sub-dropdown {
        display: none;
    }

    /* toggale end */

    .we-provide-heading {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .we-provide-heading h2 {
        font-size: 30px;
    }




    .box-image {
        width: 100px;
        height: 100px;
    }

    .box-image img {
        max-height: 60px;
    }

    .text-box {
        padding-bottom: 16px;
        padding-top: 6px;
    }

    .text-box h3 {
        font-size: 18px;
    }

    .text-box p {
        font-size: 14px;
        padding: 5px 10px 10px 10px;
    }

    .main-we-provide {
        row-gap: 10px;
    }

    .read-more {
        width: 90px;
        display: inline-block;
    }

    .read-more a {
        font-size: 12px;
    }

    .text-consultations h2 {
        font-size: 25px;
    }

    .form-block .form-row {
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 15px;
    }

    .form-block .form-row .form-box {
        width: calc(50% - 7.5px);
    }

    #free-Consultations {
        padding: 30px 0 20px 0;
    }

    .text-consultations h2 {
        padding-bottom: 25px;
    }

    .form-block .form-row input.btn {
        max-width: 120px;
    }

    .heading h2 {
        font-size: 30px;
    }

    #projects {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .why-choose-heading h2 {
        font-size: 30px;
        padding-bottom: 24px;
    }

    .our-vision {
        padding: 15px;
    }

    .our-vision h4 {
        padding: 0;
    }

    .four-boxes h3 {
        font-size: 40px;
    }

    .four-boxes p {
        font-size: 15px;
    }

    .four-boxes {
        height: 135px;
    }

    .why-choose-heading h2 {
        font-size: 35px;
        padding-bottom: 30px;
    }

    .our-vision h4 {
        font-size: 26px;
        padding: 8px 0px 5px 10px
    }

    .our-vision p {
        padding: 10px 10px 10px 10px;
        font-size: 13px;
        line-height: 23px;
    }

    .why-choose-main {
        column-gap: 10px;
    }

    .our-vision {
        width: calc(50% - 5px);
    }

    .links h3 {
        font-size: 18px;
        padding-bottom: 12px;
    }

    .contact h3 {
        font-size: 18px;
        padding-bottom: 12px;
    }

    .links ul li a {
        font-size: 12px;
    }

    .contact ul li span,
    .contact ul li a {
        font-size: 12px;
    }

    .main-footer {
        flex-wrap: wrap;
        justify-content: start;
        column-gap: 40px;
        row-gap: 30px;
    }

    .links {
        width: calc(40% - 20px);
    }

    .main-footer-bottom .text {
        line-height: 21px;
    }

    .main-footer-bottom ul {
        flex-wrap: wrap;
        justify-content: end;
    }

    .main-footer-bottom ul li a {
        padding-left: 10px;
    }

    .main-projects {
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 20px;
    }

    .four-boxes {
        width: calc(50% - 10px);
    }

}

@media screen and (max-width:575px) {
    .logo img {
        width: 50%;
    }

    .top-menu ul li a {
        display: none;
    }

    /* .top-menu ul li span {
        padding-right: 12px;
    } */

    .top-menu .button {
        width: auto;
        height: 30px;
        padding: 0 10px;
    }

    .top-menu .button a {
        font-size: 12px;
    }

    .we-provide-heading h2 {
        font-size: 30px;
    }

    .text-box p {
        font-size: 12px;
    }



    .text-consultations h2 {
        font-size: 20px;
    }

    .text-consultations h2 {
        padding-bottom: 28px;
    }

    .form-block .form-row .form-box {
        width: 100%;
    }

    .heading h2 {
        font-size: 30px;
    }

    .who-are-main {
        flex-wrap: wrap;
    }

    .technology {
        width: 100%;
    }

    .who-are-you-image {
        width: 100%;
    }

    .who-are-you-image {
        margin-right: unset;
        padding-top: 15px;
    }



    .why-choose-heading h2 {
        font-size: 30px;
    }

    .why-choose-main {
        flex-wrap: wrap;
        gap: 15px;
    }

    .our-vision {
        width: 100%;
    }

    .links {
        width: 100%;
    }

    .main-footer {
        row-gap: 5px;
    }

    .footer-bottom {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #why-choose {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #who-are-you {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .contact .input-email input {
        height: 38px;
    }

    .input-email span {
        height: 36px;
        width: 44px;
    }

    .form-block .form-row input,
    .form-block .form-row select {
        height: 36px;
    }

    .form-block .form-row input.btn {
        max-width: 90px;
    }

    .form-block .form-row .form-box.select-box span {
        top: 7px;
    }
    .box-provide{
        width: 100%;
    }

    .footer {
        padding-bottom: 20px;
    }
     .contact ul li span br:last-child{
        display: none;
    } 
    .contact ul li span {
        line-height: 25px;
    }
    .main-footer-bottom {
        display: block;
    }
    .main-footer-bottom .text{
        width: 100%;
        padding-bottom: 10px;
    }
    .main-footer-bottom ul{
        width: 100%;
        justify-content: flex-start;
    }
    .main-footer-bottom ul li a{
        padding-right: 10px;
        padding-left: 0;
    }
    .bottom-menu .drop{
        top: 42px;
    }
    .top-menu ul li {
        background: rgb(10, 59, 99);
        margin-right: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 6px;
    }
    .top-menu ul li span i{
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }
}

@media screen and (max-width:360px) {}